<a href="https://colab.research.google.com/github/qaz027/Dojo_portfolio_project/blob/main/Project1_part2_Francis_Quimby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

In [41]:
infile = "/content/drive/MyDrive/sales_predictions.csv"
sales_pred = pd.read_csv(infile)
sales_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [42]:
sales_pred.sort_values(by=['Item_Identifier','Item_Weight'], inplace=True)
sales_pred.head(25)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
118            DRA12       11.600  ...  Supermarket Type1          2552.6772
1197           DRA12       11.600  ...  Supermarket Type1          3829.0158
1245           DRA12       11.600  ...  Supermarket Type1          2552.6772
1693           DRA12       11.600  ...  Supermarket Type1           992.7078
7467           DRA12       11.600  ...  Supermarket Type2           850.8924
8043           DRA12       11.600  ...      Grocery Store           283.6308
1148           DRA24       19.350  ...  Supermarket Type1          1146.5076
4130           DRA24       19.350  ...      Grocery Store           327.5736
4900           DRA24       19.350  ...  Supermarket Type1          3439.5228
6863           DRA24       19.350  ...  Supermarket Type1           982.7208
8195           DRA24       19.350  ...  Supermarket Type1          4422.2436
2879           DRA24          NaN  ...      Grocery Store           491.3604
4416           DRA24          NaN  ...  Supermarket Type3          4913.6040
1876           DRA59        8.270  ...  Supermarket Type1          4442.2176
3927           DRA59        8.270  ...  Supermarket Type1          1295.6468
3962           DRA59        8.270  ...  Supermarket Type1           555.2772
5609           DRA59        8.270  ...  Supermarket Type1          2406.2012
6338           DRA59        8.270  ...  Supermarket Type2          4442.2176
8371           DRA59        8.270  ...      Grocery Store           185.0924
6057           DRA59          NaN  ...  Supermarket Type3          7033.5112
6179           DRA59          NaN  ...      Grocery Store           555.2772
3465           DRB01        7.390  ...  Supermarket Type1          1518.0240
3571           DRB01        7.390  ...  Supermarket Type1          2466.7890
3733           DRB01          NaN  ...  Supermarket Type3           569.2590
1431           DRB13        6.115  ...  Supermarket Type1          3415.5540

[25 rows x 12 columns]

In [23]:
#item weight has some missing observations / outlet_size also has some missing observations
#item_wgt_miss = sales_pred["Item_Weight"].isna()
#sales_pred.sort_values(by=['Item_Type'])
#sales_pred.loc[item_wgt_miss, :]

In [43]:

sales_pred[['Item_Weight']] = sales_pred['Item_Weight'].fillna(method='pad') #backfill missing item weights
sales_pred.head(25)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
118            DRA12       11.600  ...  Supermarket Type1          2552.6772
1197           DRA12       11.600  ...  Supermarket Type1          3829.0158
1245           DRA12       11.600  ...  Supermarket Type1          2552.6772
1693           DRA12       11.600  ...  Supermarket Type1           992.7078
7467           DRA12       11.600  ...  Supermarket Type2           850.8924
8043           DRA12       11.600  ...      Grocery Store           283.6308
1148           DRA24       19.350  ...  Supermarket Type1          1146.5076
4130           DRA24       19.350  ...      Grocery Store           327.5736
4900           DRA24       19.350  ...  Supermarket Type1          3439.5228
6863           DRA24       19.350  ...  Supermarket Type1           982.7208
8195           DRA24       19.350  ...  Supermarket Type1          4422.2436
2879           DRA24       19.350  ...      Grocery Store           491.3604
4416           DRA24       19.350  ...  Supermarket Type3          4913.6040
1876           DRA59        8.270  ...  Supermarket Type1          4442.2176
3927           DRA59        8.270  ...  Supermarket Type1          1295.6468
3962           DRA59        8.270  ...  Supermarket Type1           555.2772
5609           DRA59        8.270  ...  Supermarket Type1          2406.2012
6338           DRA59        8.270  ...  Supermarket Type2          4442.2176
8371           DRA59        8.270  ...      Grocery Store           185.0924
6057           DRA59        8.270  ...  Supermarket Type3          7033.5112
6179           DRA59        8.270  ...      Grocery Store           555.2772
3465           DRB01        7.390  ...  Supermarket Type1          1518.0240
3571           DRB01        7.390  ...  Supermarket Type1          2466.7890
3733           DRB01        7.390  ...  Supermarket Type3           569.2590
1431           DRB13        6.115  ...  Supermarket Type1          3415.5540

[25 rows x 12 columns]

In [44]:
outlet_sz_miss = sales_pred["Outlet_Size"].isna()

#sales_pred.loc[outlet_sz_miss, :]
sales_pred.sort_values(by=['Outlet_Identifier','Outlet_Size'],inplace=True)
outlet_size = sales_pred.groupby(['Outlet_Identifier'])['Outlet_Size'].value_counts()
sales_pred['Outlet_Identifier'].value_counts()
#outlet_size
#hi_mid_low = sales_pred.groupby(['Outlet_Size'])['Item_Outlet_Sales'].mean()
#hi_mid_low

OUT027    935
OUT013    932
OUT035    930
OUT046    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [45]:
sales_pred["Outlet_Identifier"].loc[outlet_sz_miss].value_counts()
#outlets 45, 17, 10 are missing size inputs

OUT045    929
OUT017    926
OUT010    555
Name: Outlet_Identifier, dtype: int64

In [46]:
sales_pred.groupby(["Outlet_Type","Outlet_Location_Type","Outlet_Identifier"])["Outlet_Size"].value_counts(dropna=False)
#based on this count matrix, I don't see much of a relationship among outlet type, location type, and size
#outlet010 is a Tier 3 Grocery Store, outlet017 and outlet045 are Supermarket (type 1) in a Tier 2 location
#item counts are very similar for the non-grocery store outlet types ~930 while items counts are similar for grocery stores

Outlet_Type        Outlet_Location_Type  Outlet_Identifier  Outlet_Size
Grocery Store      Tier 1                OUT019             Small          528
                   Tier 3                OUT010             NaN            555
Supermarket Type1  Tier 1                OUT046             Small          930
                                         OUT049             Medium         930
                   Tier 2                OUT017             NaN            926
                                         OUT035             Small          930
                                         OUT045             NaN            929
                   Tier 3                OUT013             High           932
Supermarket Type2  Tier 3                OUT018             Medium         928
Supermarket Type3  Tier 3                OUT027             Medium         935
Name: Outlet_Size, dtype: int64

In [47]:

sales_pred.groupby(["Outlet_Type","Outlet_Location_Type","Outlet_Identifier"])["Item_Outlet_Sales"].sum()
#grocery store revenues also show similarities

Outlet_Type        Outlet_Location_Type  Outlet_Identifier
Grocery Store      Tier 1                OUT019               1.796941e+05
                   Tier 3                OUT010               1.883402e+05
Supermarket Type1  Tier 1                OUT046               2.118395e+06
                                         OUT049               2.183970e+06
                   Tier 2                OUT017               2.167465e+06
                                         OUT035               2.268123e+06
                                         OUT045               2.036725e+06
                   Tier 3                OUT013               2.142664e+06
Supermarket Type2  Tier 3                OUT018               1.851823e+06
Supermarket Type3  Tier 3                OUT027               3.453926e+06
Name: Item_Outlet_Sales, dtype: float64

In [49]:
#fill missing outlet size variables by type, location
sales_pred.sort_values(by=['Outlet_Type','Outlet_Location_Type','Outlet_Size','Outlet_Identifier'], inplace = True)
sales_pred[['Outlet_Size']]=sales_pred['Outlet_Size'].fillna(method='pad')
sales_pred.sort_index(inplace= True)
sales_pred.head(25)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10       19.000  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11        8.260  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224
20           FDN22       18.850  ...  Supermarket Type1          3775.0860
21           FDW12        8.315  ...  Supermarket Type3          4064.0432
22           NCB30       14.600  ...  Supermarket Type1          1587.2672
23           FDC37       15.500  ...      Grocery Store           214.3876
24           FDR28       13.850  ...  Supermarket Type1          4078.0250

[25 rows x 12 columns]

In [50]:
sales_pred.groupby(["Outlet_Type","Outlet_Location_Type","Outlet_Identifier"])["Outlet_Size"].value_counts(dropna=False)

Outlet_Type        Outlet_Location_Type  Outlet_Identifier  Outlet_Size
Grocery Store      Tier 1                OUT019             Small          528
                   Tier 3                OUT010             Small          555
Supermarket Type1  Tier 1                OUT046             Small          930
                                         OUT049             Medium         930
                   Tier 2                OUT017             Small          926
                                         OUT035             Small          930
                                         OUT045             Small          929
                   Tier 3                OUT013             High           932
Supermarket Type2  Tier 3                OUT018             Medium         928
Supermarket Type3  Tier 3                OUT027             Medium         935
Name: Outlet_Size, dtype: int64